*{
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Nunito', sans-serif;
}



/* EMPIEZA HEADER */
header{
    padding-top: 1em;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Nunito', sans-serif;
    
}
.prueba{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.contenedoralogo{
    display: flex;
    justify-content: flex-start;
align-items:center;
margin-left: 9em;

}
.clasificar{
    height: 1em;
    width: 0.7em;
}
.letradelogo{
    font-size: 0.75rem;
    font-weight: bold;
}

.contenedoramenu{
    display: flex;
    align-items: center;
    
}

.btn1{
    text-decoration: none;
    color: black;
    margin-right: 2.5em;
}

.btn2{
    text-decoration: none;
    color: gray;
    margin-right: 2.5em;
}

.ultimobtn{
display:flex ;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10em;
  /* background-color: #2E4CBC;
padding: 0.7em 1.8em;
font-size: 0.9rem;
border-radius: 3em; */
/* transition: all 300ms; */
}

.btnult{
    color: white;
    text-decoration: none;
    background-color: #2E4CBC;
    padding: 0.7em 1.8em;
    font-size: 0.9rem;
    border-radius: 3em;
    
}






.lineaab:hover{
border-bottom: 1px solid white;    
}


/* TERMINA HEADER */

/* EMPIEZA HOJA 1 */

main{
    padding-top: 12em;
    width: 100%;
   
    
    
}

.texto{
    display: flex;
    flex-direction: column;
    width: 39em;
    font-family: 'Nunito', sans-serif;
    

}


.letra1{
    font-size: 4rem;
    display: flex;
    
}

.lorem1{
    
    font-family: 'Nunito', sans-serif;
    margin-top: 2em;
    line-height:2em ;
    font-size: 1.3rem;
   
    
}

.texto2{
    color: grey;
    width:39em
}

.buscador{
    margin-top: 2em;
    width: 42em;
    position: relative;
    margin-top: 4em;
    background-color: rgba(128, 128, 128, 0.2);;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
    
    
    
}
.buscar{
    width: 38em;
    /* border: 1px solid gray; */
    height: 2rem;
    border-radius: 8px;
    padding-left: 1em; 
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    
}

input::placeholder {
  color: gray;
  font-size: 0.9rem;
}

.searchh{
    background-color: #2E4CBC;
padding: 0.8em 2em;
border-radius: 2em;
margin-left: 0.8em;
font-size: 1.2rem;
text-decoration: none;
color: white;
border: transparent;
}
.cajanum{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    width: 20em;
}

.numeros{
    font-size: 2rem;
    width: 5em;
    margin-right: 2em; 
    margin-top: 5em; 
    
    margin-bottom: 10em;
}

.numeross{
    display:flex;
    
    align-items:start;
    height: 15em;
    
}

.letrasnum{
    font-size:1rem;
    margin-top: 1em;
    color: gray;
     
}

.intentototal{
    
    width: 100%;
    margin-left:7.5em ;
   
    justify-content: center;
}

.flex{
    display: flex;
    margin-left: 3em;
    
    width: 110em;
    
}

.foto{
    width: 35em;
    border-radius: 25px;
    position: relative;
     overflow: hidden;
  z-index: 1;
  height: 47em;
  margin-right: 10em;
  
  
}

.hola{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* TERMINA HOJA 1 */

/* EMPIEZA HOJA 2 */

.hoja2{
    /* margin-left: 10.5em; */
    margin-top: 11em;
    width: 110em;

}

.titulo2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10.5em;
    white-space: nowrap;
    
}

.logo2{
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
}

.lorem2{
 width:39em ;
 line-height:2em ;
 color: gray;
 margin-right: 20em; 
    

}

/* EMPIEZA GALERIA DE CASAS */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  flex-basis: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: left;
}

.gallery-item img {
  max-width: 100%;
}

.gallery-item p {
  margin-top: 10px;
  font-size: 16px;
}

.galeria{
    margin-top: 8em;
    margin-right: 2em;
    margin-left: 8em; 
    width: 87%;
    /* background-color: red;   */
   
}

.logo2{
    font-size:2rem ;
}

.txtimg{
    display: flex;
flex-direction: column;
}

.iconoubi{
    height:1.5em ;
    width:1.5em ;
    margin-top: 0.5em;
}

.ubiflex{
    display: flex;
    align-items: center;
}

.cajadefoto{
    margin-right: px;
   
}

.casas{
    border-radius: 17px;
    width: 23em;
    height: 17em;
}

.casa1:hover{
    transform: scale(1.12);
    transition: 1s;
}

.casa1{
    transition: all 500ms;
    
}

.aca{
    text-decoration: none;
    color: black;
    
}


.letrascasas{
    font-size: 2.1rem;
    margin-top: 0.5em;
    font-family: 'Nunito', sans-serif;
}

.precio{
    position: absolute;
    margin-top: 1.2em;
    margin-left: 1.2em;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    transition: all 1ms;
}
/* TERMINA GALERIA DE CASAS */

.lorem3{
    color: gray;
    margin-top: 6em;
    font-size: 1.2rem;
    margin-left: 6em;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    white-space: nowrap;
    


    
}

.flexlorem{
    
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
 }


.seemore{
    margin-top: 6em;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding:0.7em 2.3em;
    border-radius: 2em;
    margin-left: 28em;
    transition: all 300ms;
    margin-right: 4em;
    width: 9em;
    white-space: nowrap;
}

.seemore:hover{
    background-color: black;
    color: white;
    transition: 300ms;
}


/* EMPIEZA HOJA N3 */

.hoja3{
    /* margin-left: 16em; */
    margin-top: 11em;
    width: 110em;
    display: flex;
    justify-content: center;
    
    
    
}

.titulohoja3{
    font-size:3rem ;
    font-family: 'Nunito', sans-serif;
}

.lorem-3{
    width: 30em;
    line-height:1.8em;
    margin-top: 1.6em;
    color:gray;
    font-size: 1.2rem;
    
}


.cassa12{
    width: 42em;
    border-radius: 20px;
    margin-top: 2em;
}

.flexxbox{
    display: flex;
    margin-left: 10.5em;
}

.cassa123{
    width: 42em;
    border-radius: 20px;
    margin-left: 7em;
    
}

.separacion{
    margin-left: 2.7em;
    margin-top: 0.8em;

}

.txcs{
    text-align: left;
    margin-left: 5em;
    
    
}

.separacion2{
    width: 30em;
    line-height:1.8em;
    margin-left: 7em;
    margin-top: 1.6em;
    color: gray;
    font-size: 1.2rem;
}

/* ACA TERMINA HOJA N3 */

/* ACA EMPIEZA HOJA N4 */

.hoja4{
    margin-top: 11em;
   
    width: 120em;
    /* margin-left: 10.5em; */
}

.lorem4{
    width:39em ;
    line-height:2em ;
    color: gray;
    margin-left: 17em;
    font-size: 1.1rem;
    
    
}

.titulo-4{
    display: flex;
    align-items: center;
    margin-left: 10.5em;
    
    
}

.fernando{
    width:39em ;
    line-height:2em ;
    color: gray;
    margin-left: 17em;
    font-size: 1.1rem;
}

.marcela{
    width: 14em;
    font-size:2.5rem;
    line-height: 1.4em;
    font-family: 'Nunito', sans-serif;
}
.easyy{
    width: 14em;
    font-size:2.5rem;
    line-height: 1.4em;
    font-family: 'Nunito', sans-serif;
    
   
    
}

/* ZONA DE CUADRADOS */

.zonadecuadros{
    display:flex;
    margin-left: 9em;
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: center;
  /* justify-content: space-between; */
 
}

.cuadro1{
    width: 19.5em;
    transition:all 800ms;
    margin-top: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    margin-right: 6em;
    border-radius: 20px;
    
    
    
}
.cuadro2{
    width: 19.5em;
    transition: all 800ms;
    
    margin-top: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    margin-right: 6em;
    border-radius: 20px;
    
    
}.cuadro3{
    width: 19.5em;
    transition:all 800ms;
    
    margin-top: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    margin-right: 6em;
    border-radius: 20px;
    
    
}.cuadro4{
    width: 19.5em;
    transition: all 800ms;
    margin-top: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    border-radius: 20px;
    margin-right: 6em;
    
    
}
.uno{

    background-color: black;
    color: white;
font-size: 1.8rem;
width: 2em;
text-align: center;
padding-top: 0.4em;
padding-bottom: 0.4em;
border-radius: 50px;
}

.titbox{
margin-top: 0.6em;
font-size: 2.4rem;
font-family: 'Nunito', sans-serif;
}

.lorbox{
    text-align: justify;
    margin-top: 0.7em;
   width: 17em;
    line-height:2em ;
    color: gray;
    font-size: 1.1rem;
}
/* TERMINA ZONA DE CUADROS */

.zonafinal-4{
    display: flex;
    align-items: center;
    margin-top: 6em;
   
    
}

.lrmcuadros{
    color: gray;
    font-size: 1.1rem;
    margin-left: 9em;
   
}

.faqboton{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding:0.7em 2.3em;
    border-radius: 2em;
    margin-left: 25em;
    transition: all 300ms;
    white-space: nowrap;
    
}
.hover-4{
    text-decoration: none;
    color: black;
}
.cuadro1:hover{
    transform: scale(1.15);
    transition: 1s;
    border: 1px solid black;
    
}

.cuadro2:hover{
    transform: scale(1.15);
    transition: 1s;
    border: 1px solid black;
    
}

.cuadro3:hover{
    transform: scale(1.15);
    transition: 1s;
    border: 1px solid black;
    ;
}

.cuadro4:hover{
    transform: scale(1.15);
    transition: 1s;
    border: 1px solid black;
    
}
.nomv{
    white-space: nowrap;
}
.faqboton:hover{
    color: white;
    background-color: black;
    transition: 300ms;
}

/* TERMINA HOJA 4 */

/* EMPIEZA HOJA 5 */

.hoja5{
    margin-top: 11em;
    /* margin-left: 10.5em; */
    display: flex;
    justify-content: space-between;
    
    width: 120em;
}

.flamenco{
    margin-left: 10.5em;
}
.logo-5{
    
    width: 24em;

}

.lg5{
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}

.lrm5{
 color: gray;
    width: 33em;
    line-height:2em;
    margin-top: 1.7em;
    font-size: 1.1rem;
}

.flex5{
    display: flex;
    align-items: center;
    /* margin-top: 4em; */
    
}

.tick{
    height: 2.5em;
    margin-top:1em ;
}
.lrm6{
    color: gray;
    width: 26em;
    line-height:2em;
    font-size: 1.1rem;
    margin-top: 1.3em;
    margin-left: 3.2em;
    text-align: justify;
    letter-spacing: -0.7px;
}

.h5{
    margin-left: 0.4em;
    font-size: 2.1rem;
    margin-top: 0.6em;
    font-family: 'Nunito', sans-serif;
}

.casah5{
    height:47.5em ;
    width: 37em;
    margin-right: 20em;
    border-radius: 15px;
    
}

.zoomh5{
    
    padding: 0 2em;
    padding-bottom: 0.7em;
    height: 9em;
    margin-top: 2.7em;
    border-radius: 8px;
    transition: all 600ms;
    
}

.zoomh5:hover{
   
    transform: scale(1.10);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transition:  300ms;
    
    
}

/* ACA TERMINA HOJA N5  */



/* ACA EMPIEZA HOJA N6 */

.hoja6{
    margin-top: 11em;
    
   
    /* margin-left: 10.5em; */
    width: 112em;
}

.separacion-6{
    margin-left: 10.5em;
}


.titulo-4{
    
    /* display: flex;
    justify-content: center; */
    width: 70em;
    
}




/* EMPIEZA ZONA DE CUADROS DE CHICOS */
.fotodechico{
    height: 2.8em;
    border-radius: 100%;
    
}

.flexchico{
    display: flex;
    align-items: center;
    
}

.cuadrochico1{
    text-align: left;
    width: 19.3em;
    padding-top:1em ;
    padding-left:1em ;
    padding-bottom: 1em;
    margin-top: 10em;
    margin-right: 7em;
    border-radius: 8px;
    transition: all 600ms;
    
    /* flex-basis: calc(25% - 10px);
    max-width: 100%; */
    
}

.cuadrochico11{
    text-align: left;
    width: 19.3em;
    padding-top:1em ;
    padding-left:1em ;
    padding-bottom: 1em;
    margin-top: 10em;
    margin-right: 5em;
    border-radius: 8px;
    transition: all 600ms;
    margin-left: 4em;
}
.titulo-c{
margin-left:0.5em ;
font-size: 1.3rem;
font-family: 'Nunito', sans-serif;


}

.letra-c{
    color: grey;
    font-size: 0.9rem;
    margin-left:0.8em ;
    margin-top: 0.8em;
    font-family: 'Nunito', sans-serif;
   
}

.lrm-c{
width: 15em;
line-height:2em;
margin-bottom: 1.3em;
color: gray;
font-size: 1.3rem;
}

.cuadrodetx{
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}


.cuadrochico1:hover{
   
    transform: scale(1.10);
    box-shadow: 1px 1px 4px rgba(1, 1, 1, 1.5 );
    transition:  300ms;
    
    
}

.cuadrochico11:hover{
   
    transform: scale(1.10);
    box-shadow: 1px 1px 4px rgba(1, 1, 1, 1.5 );
    transition:  300ms;
    
    
}

.atxt{
    text-decoration: none;
    color: black;
}
/* ACA TERMINA HOJA 6 */

/* ACA EMPIEZA HOJA 7 */

.hoja7{
    margin-top: 11em;
    margin-left: 10.5em;
    /* display: flex; */
    
   
    width: 97em;
}

.ultimg{
    height:35em ;
    width: 35em;
    border-radius: 15px;
}

.fotomansion{
    
    width: 25em;
}

.contenedor{
    margin-left: 20em;
    margin-top: 1em;
   
  

}

.tit7{
font-size: 4rem;
width: 10em;
font-family: 'Nunito', sans-serif;
}

.lrm7{
color: gray;
width: 36em;
line-height:1.5em;
margin-top: 2em;
margin-bottom:2em;
font-size: 1.1rem;
}

.btn-getqu{
    
    text-decoration:none;
    color: white;
    background-color: #2E4CBC;
    padding: 0.8em 2.7em;
    border-radius: 25px;
    font-size: 1.1rem;
    white-space: nowrap;

}

.img-7{
    height: 14em;
    border-radius: 15px;
    width: 15em;
    margin-right:1.6em;
    
}


.flex-7{
    display: flex;
}

.totalimg{
    margin-top: 2em;
    
}

.imggrande{
    width: 15em;
}


.btn-getqu:hover{
    text-decoration: underline white;
}
/* ACA TERMINA LA HOJA 7 */

/* ACA EMPIEZA EL FOOTER */

footer{
    margin-top: 10em;
    margin-left: 10.5em;
    margin-bottom: 10em;
    width: 91%;
    justify-content: center;
   
}

.logofooter{
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.logoo{
    opacity: 90%;
    margin-left: -1em;
    
}
.letraft{
    font-family: 'Nunito', sans-serif;
}
.lrm-f{
    width: 17em;
    color: gray;
    line-height:1.6em;
    margin-bottom: 1.3em;
    
}

    .flamenca{
        display: flex;
    }

    .colum{
        display: flex;
        flex-direction: column;
    }

    .flexing{
        display: flex;
        align-items: center ;
        flex-wrap: wrap;
       
        width: 95em;
        
        /* justify-content: space-around; */
    }
    .LINKS{
        margin-left: 10em;
        height: 7em;
        
    }
   .linksfinales{
    text-decoration: none;
        color:black;
        margin-top:1.2em ;
        font-size: 0.9rem;
        font-weight:bold;
        font-family: 'Nunito', sans-serif;
   }

    .linksfinales1{
        text-decoration: none;
        color: black;
        margin-top: 1.2em;
        
    }

   .numtel{
    height: 7em;
    margin-left: 10em;
    
    
   } 

   .ubifo{
    height: 2.3em;
    
   }
.sepanum{
    margin-top: 1.3em;
    display: flex;
   
}

.direc{
    color: gray;
    width: 13em;
    margin-top: 0.6em;
    margin-left: 0.5em;
    font-family: 'Nunito', sans-serif;
}

.sobre{
    height: 1.9em;
    margin-left: 0.4em;
    margin-top: 0.2em;
}

.tel{
    height: 2.3em;
    margin-left: 0.2em;
}

.mail{margin-left: 0.8em; 
    

}

.letraft{
    font-size: 1.2rem;
}

.columna{
    display: flex;
    flex-direction: column;
}

.submite{
    background-color: #2E4CBC;
    color: white;
    border: 0;
    margin-top: 1em;
    padding:0.8em 0.4em 0.8em ;
    border-radius: 20px;
    font-size: 1em;
    /* padding-right: 6em; */
    text-align: center;
    width: 18em;
    font-family: 'Nunito', sans-serif;
}

.emaild{
    border-radius: 20px;
    padding: 1em;
    margin-top: 2em;
    padding-right: 7em;
    font-family: 'Nunito', sans-serif;
}

.segunda{
    margin-right:5em;
}

.tercera{
    margin-right: 2em;
}



.negrita:hover{
    color: black;
}

.negrita{
    text-decoration: none;
    color: gray;
}
/* ACA TERMINA EL FOOTER */









/* ACA EMPIEZA EL SECTOR RESPONSIVE  */

/* HEADER */

@media (max-width:400px){
header{
    display: none;
}
}


/* HOJA 1 */

@media (max-width:800px){
.flex{
    display: block;
    margin-left: 5em;
    width: 90em;
    
}

.foto{
    margin-left: 22em;
}


.texto{
    width: 80em;
    justify-content: center;
    align-items: center;
}

.lorem1{
    width: 63.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador{
    margin-left: 22em;
}

.numeross{
    justify-content: center;
    align-items: center;
    width: 83em;
}

.numeros{
    margin-top:10em;

}

.lilo{
    margin-left: 5em;
}
main{
    width: 95em;
}
}








/* HOJA 2 */

@media(max-width:424px){
    .hoja2{
        width: 90em;
    }

    
}






@media (max-width:1740px){
.titulo2{
    display: block;
    
}

.lorem2{
    margin-top: 2em;
    font-size: 1.3rem;
}

}




@media (max-width:1058px){
    .flexlorem{
        display: block;
        justify-content: center;
       margin-left: 10em;
        width: 90em;
    }
    
    .lorem3{
        margin-bottom: 2em ;
        
    }
    
    }
    

    @media (max-width:1800px){
        .flexlorem{
            display: block;
        }

        .lorem3{
            margin-left: 1em;
            margin-bottom: 1.5em;
        }

        .seemore{
            margin-left: 7em;
        }



    }
     
    


    /* TERMINADO HOJA 2 */


    /* HOJA 3 */








    @media (max-width:1680px){
        .txcs{
            /* margin-right: 50em; */
            margin-left: 0;
        }

        .flexxbox{
            margin-left: 5em;
            justify-content: center;
        }
        
.primeraimagen{
    margin-left: 4em;
}

}


    @media (max-width:439px){
        .hoja3{
            width: 90em;
        }
.flexxbox{
    display: block;
        width: 90em;   
}

.primeraimagen{
        margin-left: 20em;
}

.txcs{
    margin-left: 13em;
    margin-top: 3em;
}

.hoja3{
    margin-left: 2em;
}

    }

/* TERMINA HOJA 3 */

/* ARRANCA HOJA 4 */


@media (max-width:462px){

.hoja4{
    width:95em ;
    
}
.zonadecuadros{
    margin-left:12em ;
}

}


 
@media (max-width:1850px){

    .lorem4{
        margin-left: 7em;
    }
    }
    








    @media (max-width:421px){
    .titulo-4{
        display: block;

    }

.lolita{
    display: flex;
    justify-content: center;
}

.pepo{
    display: flex;
    justify-content: center;
}

.fernando{
    margin-left: 18em;
    margin-top: 1em;
}
    
.marcela{
    margin-left: 5em;
}

}









    @media (max-width:468px){
.zonafinal-4{
    display: block;
}

.faqboton{
    margin-left: 45em;
}

.lrmcuadros{
    margin-bottom: 3em;
    margin-left: 18em;
}

    }













/*  TERMINADO HOJA 4 */

/* EMPIEZA HOJA 5 */

/* @media (max-width:1780px){
.flamenco{
    margin-right: 10em;
}
}

@media (max-width:414px){
.hoja5{
    display: block;
}
.casah5{
    margin-top: 10em;
}

.h5{
    width: 14em;
}
} */



@media (max-width:498px){
    .hoja5{
        width: 95em;
    }
.flamenco{
    margin-left: 11em;
}

.casah5{
    margin-left: 8em;
}
}



/* TERMIAN HOJA 5 */

/* HOJA 6 */
@media (max-width:458px){
    .hoja6{width: 100em;

    }



}


@media (max-width:423px){
    .titulo-4{
        display: block;
        
        
    }

.easyy{
    margin-left: 9  em;
}

.lorem4{
    margin-top: 1em;
   
    margin-left: 20em;
}

}






/* TERMIAN HOJA 6 */



/* Hoja 7 */



@media (max-width:430px){
.hoja7{
    width: 78em;
}


    .flex-7{
    display: block;
}

.fotomansion{
   margin-left: -6em;
    width: 90em;
    display: flex;
    justify-content: center;
}


.contenedor{
    margin-left: 21.5em;
    margin-top: 2em;
}
}






























/* @media (max-width:384px){

.flex-7{
    display: block;
}

.contenedor{
    margin-left: 0.5em;
    margin-top: 3em;
}

.totalimg{
    display: flex;
}

} */

/* FOOTER */

@media (max-width:435px){
footer{
    margin-left: 14em;
}
}

@media (max-width:435px){
    .flexing{
        display: block;
    }

    .flamenca{
        display: flex;
    }
.emaild{
    
    width: 13em;
    
}

.foul{
    margin-left:0 ;
    margin-top: 5em;
}


}